
.text {
    background: linear-gradient(to right,#07FDFD 20%, #5756FF, #CC00FF);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-left:15px
}
.taskInput {
    text-align: center;
    margin-top: 65px;
    display: block;

}

.content {
    text-align: center;
}

input {
    width: 55%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.customBtn {
    display: inline-block;
    padding: 12px 35px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,#07FDFD, #5756FF, #CC00FF);
    border: none;
    border-radius:0 10px 10px 0;
    padding-top: 9px;
    font-weight: bold;
}
.taskStatus{
    display: flex;
    justify-content: space-around;
    margin: 5px 200px 10px;
    
}
.taskStatusItem{
    height: 38px;
    width: 50%;
    border: 1px solid #D9D9D99D;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.taskList {
    width: 67%;
    margin: 32px 0 31px 169px;
}

.content {
    margin-top: 45px;
}

.taskItem {
    padding: 10px;
    border: 1px solid #D9D9D99D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.icon{
    margin-left: 20px;
}


span {
    flex: 1;

}