.myWeather {
    height: 180px;
    width: 375px;
    border-radius: 20px;
    background: linear-gradient(to right, #4C36CB, #7185AC);
    color: white;
    padding: 12px;
}

.location {
    display: flex;
    align-items: center;
}

.temperature {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.weatherDetail {
    display: flex;
    justify-content: space-between;
}

p {
    margin-bottom: 5px;
}